<!DOCTYPE html>
<html lang="ja" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<!-- th:replaceを使用して、 共通ヘッダエリアを読込みます -->
<head
	th:replace="layout/head :: head_fragment(title = 'メッセージ', scripts = ~{}, links = ~{})"></head>
<body>
	<!-- th:replaceを使用して、 共通ヘッダーエリアフラグメントを読込みます -->
	<div th:replace="layout/header :: header_fragment"></div>
	<!-- th:replaceを使用して、 共通ナビゲーションエリアフラグメントを読込みます -->
	<div th:replace="layout/nav :: nav_fragment"></div>
	<!-- th:replaceを使用して、 共通サイドメニューエリアフラグメントを読込みます -->
	<div th:replace="layout/sideMenu :: side_menu_fragment"></div>
	<!-- th:replaceを使用して、 共通エラーメッセージエリアのフラグメントを読込みます -->
	<div th:replace="~{layout/errMessageArea}"></div>
	<!-- th:replaceを使用して、 共通成功メッセージエリアのフラグメントを読込みます -->
	<div th:replace="~{layout/successMessageArea}"></div>
	<div id="container">
		<h1>メッセージ画面</h1>
		<div id="form">
			<form th:action="@{/user_menu/message/}" th:object="${messageBean}"
				method="post">
				<section>
					<h4>
						管理者から送信されたメッセージ一覧です。<br>不要になったメッセージはチェックをつけて「メッセージを削除する」をクリックしてください。
					</h4>
					<table>
						<thead>
							<tr>
								<th>削除チェックボックス</th>
								<th>管理者名</th>
								<th>メッセージ送信日</th>
								<th>内容</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="tmp : ${messageBean.searchResultList}">
								<td><input type="checkbox" name="checks"
									th:id="${tmp.messageId}" th:value="${tmp.messageId}"
									th:checked="${messageBean.checks.contains(tmp.messageId)}" /></td>
								<td th:text="${tmp.managerName}"></td>
								<td th:text="${tmp.sendDate}"></td>
								<td th:text="${tmp.Message}"></td>
							</tr>
							<tr>
								<td colspan="4"></td>
							</tr>
							<tr>
								<td colspan="4" align="right">
									<button type="submit">メッセージを削除する</button>
							</tr>
						</tbody>
					</table>
				</section>
			</form>
		</div>
		<!-- th:replaceを使用して、 共通フッターエリアフラグメントを読込みます -->
		<div th:replace="layout/footer :: footer_fragment"></div>
	</div>
	<!--/#container-->
</body>
</html>