<!DOCTYPE html>
<html lang="ja" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<!-- th:replaceを使用して、 共通ヘッダエリアを読込みます -->
<head
	th:replace="layout/head :: head_fragment(title = '個人情報登録画面', scripts = ~{}, links = ~{})"></head>
<body>
	<!-- th:replaceを使用して、 共通エラーメッセージエリアのフラグメントを読込みます -->
	<div th:replace="~{layout/errMessageArea}"></div>
	<!-- th:replaceを使用して、 共通成功メッセージエリアのフラグメントを読込みます -->
	<div th:replace="~{layout/successMessageArea}"></div>
	<h1>個人情報登録画面</h1>
	<div id="container">
		<form th:action="@{/personInformationRegist/}"
			th:object="${personInformationRegistBean}" method="post">
			<table>
				<thead>
					<tr>
						<th colspan="2">お客様の情報をご記載下さい</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><label>名前</label></td>
						<td><input th:field="*{name}" name="name" type="text"></td>
					</tr>
					<tr>
						<td><label>ふりがな</label></td>
						<td><input th:field="*{furigana}" name="furigana" type="text"></td>
					</tr>
					<tr>
						<td><label>住所</label></td>
						<td><input th:field="*{address}" name="address" type="text"></td>
					</tr>
					<tr>
						<td><label>郵便番号</label></td>
						<td><input th:field="*{postNo}" name="postNo" type="text"></td>
					</tr>
					<tr>
						<td><label>EMAIL</label></td>
						<td><input th:field="*{eMail}" name="eMail" type="text"></td>
					</tr>
					<tr>
						<td><label>パスワード</label></td>
						<td><input th:field="*{password}" name="password" type="text"></td>
					</tr>
					<tr>
						<td><label>ログインカテゴリ</label></td>
						<td>
							<p class="check">
								<input type="radio" th:field="*{selectLoginCategory}"
									name="selectLoginCategory" value="0" checked="checked">利用者
								<input type="radio" th:field="*{selectLoginCategory}"
									name="selectLoginCategory" value="1">管理者 <input
									type="radio" th:field="*{selectLoginCategory}"
									name="selectLoginCategory" value="2">販売者
							</p>
						</td>
					</tr>
				</tbody>
			</table>
			<div class="item no-label">
				<button>個人情報を登録する</button>

			</div>
		</form>
		<!-- th:replaceを使用して、 共通フッターエリアフラグメントを読込みます -->
		<div th:replace="layout/footer :: footer_fragment"></div>
	</div>
	<!--/#container-->
</body>
</html>