<!DOCTYPE html>
<html lang="ja" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<!-- th:replaceを使用して、 共通ヘッダエリアを読込みます -->
<head
	th:replace="layout/head :: head_fragment(title = 'リクエスト書籍注文完了画面<', scripts = ~{}, links = ~{})"></head>
<body>
	<!-- th:replaceを使用して、 共通ヘッダーエリアフラグメントを読込みます -->
	<div th:replace="layout/header :: header_fragment"></div>
	<!-- th:replaceを使用して、 共通ナビゲーションエリアフラグメントを読込みます -->
	<div th:replace="layout/nav :: nav_fragment"></div>
	<!-- th:replaceを使用して、 共通サイドメニューエリアフラグメントを読込みます -->
	<div th:replace="layout/sideMenu :: side_menu_fragment"></div>
	<!-- th:replaceを使用して、 共通エラーメッセージエリアのフラグメントを読込みます -->
	<div th:replace="~{layout/errMessageArea}"></div>
	<!-- th:replaceを使用して、 共通成功メッセージエリアのフラグメントを読込みます -->
	<div th:replace="~{layout/successMessageArea}"></div>
	<div id="container">
		<h1>書籍納品完了画面</h1>
		<div id="form">
			<form th:action="@{/sales_user_menu/order_product/complete}"
				th:object="${orderedProductCompleteBean}" method="post">
				<main>
					<section>
						<div class="list">
							<img src="images/sample1.jpg" alt="">
							<p>
								注文書籍の納品が完了しました。<br>管理者にリクエスト書籍納品完了の連絡をしてください。
							</p>
						</div>
					</section>
				</main>
			</form>
		</div>
		<!-- th:replaceを使用して、 共通フッターエリアフラグメントを読込みます -->
		<div th:replace="layout/footer :: footer_fragment"></div>
	</div>
	<!--/#container-->
</body>
</html>